@charset "UTF-8";

/* Versão Mobile First */

* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100vw;
    height: 100vh;
}

body {
    background: black url(../imagens/back-phone.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
}

main {
    background-color: rgba(255, 255, 255, 0.452);
    width: 90%;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

img {
    display: block;
    margin: auto;
}

h1 {
    text-align: center;
    color: white;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

#celular {display: block;}
#tablet {display: none;}
#print {display: none;}
#pc {display: none;}
#tv {display: none;}